<h2>Configuraciones</h2>
<form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
    <div class="form-group">

        <div class="form-group">
        <label for="username">Username del Encargado</label>
        <input type="text" formControlName="username" class="form-control" [(ngModel)]="settings[0].username"  /> 
       
    </div>
        <div class="form-group">
        <label for="email">Email del Encargado</label>
        <input type="text" formControlName="email" class="form-control" [(ngModel)]="settings[0].email"  />
    </div>

        <div class="form-group">
        <label for="minNumProducts">Numero de Productos minimos en Inventario</label>
        <input type="number" formControlName="minNumProducts" class="form-control" [(ngModel)]="settings[0].minNumProducts"  />
    </div>
    </div>



    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Guardar Configuracion
        </button>
       
    </div>
</form>

