<section>
    <button mat-button color="primary" (click)="openDialog()">Agregar Producto</button>
</section>
<p *ngIf="name">
  Ultimo producto registrado: <i>{{name}}</i>
</p>
<ul>
  <li *ngFor="let product of products">
      {{product.serial_number}} ({{product.name}} {{product.price}} {{product.quantity}})
  </li>
</ul>
<!--
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


 
  <ng-container matColumnDef="No">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let product"> {{product.num}} </td>
  </ng-container>

  
  <ng-container matColumnDef="Nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre</th>
    <td mat-cell *matCellDef="let product"> {{product.nombre}} </td>
  </ng-container>

 
  <ng-container matColumnDef="Precio">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let product"> {{product.precio}} </td>
  </ng-container>

 
  <ng-container matColumnDef="Inventario">
    <th mat-header-cell *matHeaderCellDef> Inventario </th>
    <td mat-cell *matCellDef="let product"> {{product.inventario}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

-->